/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2B2D42FF; /* Color de fondo */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    height: 90%; /* Ajustamos la altura del contenedor al 90% de la altura de la pantalla */
    text-align: center;
    box-sizing: border-box;
    position: relative;
    padding: 20px; /* Añadimos espacio alrededor del contenido */
    overflow: hidden; /* Esto ocultará cualquier contenido fuera del contenedor */
}

/* Imagen central */
.central img {
    width: 90%; /* Ocupa el 80% del ancho */
    display: block;
    margin: 0 auto 10px; /* Espaciado inferior */
}

/* Logo */
.logo img {
    width: 80%; /* La imagen ocupa el 60% del ancho */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Hace que la imagen tenga forma circular */
    display: block;
    margin: 10px auto; /* Centra la imagen */
    object-fit: cover; /* Asegura que la imagen se recorte para ajustarse al círculo sin distorsionar */
}

/* Metadatos */
.metadatos {
    font-size: 1.2rem;
    margin: 0px auto;
    text-align: center;
    word-wrap: break-word;
}

/* Animación de sonido */
.animacion-container {
    margin: 20px auto;
    width: 70%;
    height: auto;
}

/* Reproductor de audio */
.reproductor-container {
    position: absolute;
    bottom: 20px; /* Subimos un poco el reproductor para dejar espacio para los botones */
    left: 20px;
}

/* Botón Play/Pause */
.btn {
    background-color: #2196f2ff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#playPauseIcon {
    width: 20px;
    height: 20px;
}

/* Botón de instalación */
#installButton {
    position: absolute;
    bottom: 20px; /* Lo coloca en la parte inferior */
    left: 50%; /* Lo centra horizontalmente */
    transform: translateX(-50%);
    background-color: #2196f2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

/* Botón Menú */
.menu-btn-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#menuIcon {
    width: 20px;
    height: 20px;
}

/* Menú desplegable */
.menu-options {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 60px;
    right: 0;
}

.menu-options a button {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
}

.menu-options a button img {
    width: 100%;
    height: 100%;
}

/* Mostrar opciones cuando el menú está abierto */
.menu-options.open {
    display: flex;
}

/* Botón Pedir Canción */
.pedir-cancion-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

#pedirCancionBtn {
    background-color: #ff5722;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.2s ease;
}

#pedirCancionBtn:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

#pedirCancionBtn:active {
    transform: scale(0.95);
}

/* Media query para dispositivos móviles */
@media (max-width: 900px) {
    body {
        overflow: hidden; /* Evita que la página se desplace verticalmente en dispositivos móviles */
    }

    .container {
        width: 100%;  /* El contenedor ocupa todo el ancho de la pantalla */
        height: 100%; /* El contenedor ocupa el 100% de la altura de la pantalla */
        position: fixed; /* Fija el contenedor para que se quede en la pantalla */
        top: 0;
        left: 0;
        padding: 3px; /* Añadimos algo de espacio alrededor del contenedor */
        overflow: hidden;
        justify-content: flex-start; /* Asegura que el contenido esté alineado arriba */
    }

    .central img {
        width: 100%;
        height: auto;
        margin-bottom: 20px; /* Añadimos espacio entre la imagen y los metadatos */
    }

    .metadatos {
        font-size: 1.6rem; /* Reducimos el tamaño de los metadatos para que quepan mejor */
        margin-top: 25px;
        margin-bottom: 20px; /* Espacio debajo de los metadatos */
    }

    .logo img {
        width: 80%; /* Reducimos el tamaño del logo */
        max-width: 300px; /* Tamaño máximo del logo */
        margin-top: 20px;
    }

    .reproductor-container {
        bottom: 20px; /* Subimos el reproductor para dar espacio a los botones */
    }

    #installButton {
        position: absolute;
        bottom: 60px; /* Ajustamos el botón de instalación para que no se salga de la pantalla */
    }

    .menu-btn-container {
        bottom: 20px; /* Subimos el botón del menú para que esté visible */
    }
}
