/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2B2D42FF;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    height: 90%;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    overflow: hidden;
}

/* Imagen central */
.central img {
    width: 90%;
    display: block;
    margin: 0 auto 10px;
}

/* Logo */
.logo img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    object-fit: cover;
}

/* Metadatos */
.metadatos {
    font-size: 1.2rem;
    margin: 0px auto;
    text-align: center;
    word-wrap: break-word;
}

/* Animación de sonido */
.animacion-container {
    margin: 20px auto;
    width: 70%;
    height: auto;
}

/* Reproductor de audio */
.reproductor-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* Botón Play/Pause */
.btn {
    background-color: #2196f2ff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#playPauseIcon {
    width: 20px;
    height: 20px;
}

/* Botón de instalación */
#installButton {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2196f2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

/* Botón Menú */
.menu-btn-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#menuIcon {
    width: 20px;
    height: 20px;
}

/* Menú desplegable */
.menu-options {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 60px;
    right: 0;
}

.menu-options a button {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
}

.menu-options a button img {
    width: 100%;
    height: 100%;
}

/* Mostrar opciones cuando el menú está abierto */
.menu-options.open {
    display: flex;
}

/* Media query para dispositivos móviles */
@media (max-width: 900px) {
    body {
        overflow: hidden;
    }

    .container {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 3px;
        overflow: hidden;
        justify-content: flex-start;
    }

    .central img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .metadatos {
        font-size: 1.6rem;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .logo img {
        width: 80%;
        max-width: 300px;
        margin-top: 20px;
    }

    .reproductor-container {
        bottom: 20px;
    }

    #installButton {
        position: absolute;
        bottom: 60px;
    }

    .menu-btn-container {
        bottom: 20px;
    }
}
